body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /*background: linear-gradient(to right, rgb(0, 0, 0), rgb(84, 216, 203));*/
  background: linear-gradient(to right, rgb(94, 190, 200), rgb(23, 196, 121));
}

::-webkit-scrollbar{
  width: 5px;
  background: #EAE7E5;
}

::-webkit-scrollbar-thumb{
  border-radius: 30px;
  background: black;
  box-shadow: 2px 2px 2px rgba(255, 255, 255, 0.25), inset -2px -2px -2px rgba(0, 0, 0, 0.25);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
